## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Base de datos local (archivos temporales de SQLite)
*.db-shm
*.db-wal

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## NuGet
**/[Pp]ackages/*
*.nupkg
*.snupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/

## Rider / VS Code
.idea/
.vscode/

## OS
Thumbs.db
desktop.ini
.DS_Store
